<div class="p-6 hover:bg-gray-50">
  <div class="flex items-start">
    <a href="<%= user_path(murmur.user) %>" class="mr-4">
      <img src="<%= murmur.user.avatar_url %>" alt="<%= murmur.user.name %>" class="w-10 h-10 rounded-full object-cover">
    </a>
    
    <div class="flex-1">
      <div class="flex items-center">
        <a href="<%= user_path(murmur.user) %>" class="font-bold hover:underline"><%= murmur.user.name %></a>
        <span class="text-gray-500 ml-2">@<%= murmur.user.username %></span>
        <span class="text-gray-400 mx-2">•</span>
        <span class="text-gray-500"><%= murmur.formatted_date %></span>
      </div>
      
      <div class="mt-2">
        <a href="<%= murmur_path(murmur) %>">
          <p><%= murmur.content %></p>
        </a>
      </div>
      
      <div class="mt-3 flex items-center">
        <div data-controller="like" class="flex items-center mr-4">
          <% if murmur.liked_by?(current_user) %>
            <button 
              data-like-target="button" 
              data-murmur-id="<%= murmur.id %>"
              data-action="click->like#unlike"
              class="text-red-500 hover:text-red-600"
            >
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
              </svg>
            </button>
          <% else %>
            <button 
              data-like-target="button" 
              data-murmur-id="<%= murmur.id %>"
              data-action="click->like#like"
              class="text-gray-500 hover:text-red-600"
            >
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
              </svg>
            </button>
          <% end %>
          <span data-like-target="count" class="ml-1 text-sm text-gray-500"><%= murmur.like_count %></span>
        </div>
        
        <a href="<%= murmur_path(murmur) %>" class="text-gray-500 hover:text-gray-700">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        </a>
        
        <% if murmur.user.id == current_user.id %>
          <%= button_to murmur_path(murmur), method: :delete, class: "ml-4 text-gray-500 hover:text-red-600", form: { data: { turbo_confirm: "Are you sure you want to delete this murmur?" } } do %>
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
